In [1]:
import pandas as pd

In [2]:
excel = pd.ExcelFile('example-kpi.xlsx')

In [9]:
db_qs = excel.parse(excel.sheet_names[3])

In [10]:
db_qs

                                                                                                            CURRENT MONTH  \
Income Statement Information NaN                                                                                      NaN
NaN                          NaN                                                                                      NaN
                             $  Sales by top customers                                                                NaN
                             NaN                                                                               Customer A
                             NaN                                                                               Customer B
                             NaN                                                                               Customer C
                             NaN                                                                               Customer D
                             NaN                                                                               Customer E
                             NaN                                                                      All Other Customers
                             NaN                                                                              Total Sales
                             NaN                                                                                      NaN
                             $ Sales projections for 6 M out                                                          NaN
                             NaN                                                                                      NaN
                             NaN                                                                                      NaN
                             Cost of Goods Sold                                                                       NaN
                             NaN                                                                                      NaN
                             Payroll Costs                                                                            NaN
                             NaN                                                                                      NaN
                             Rent/ Leases                                                                             NaN
                             NaN                                                                                      NaN
                             Sales, General & Administrative                                                          NaN
                             NaN                                                                                      NaN
                             Other & Miscellaneous                                                                    NaN
                             Other #2 ______________                                                                  NaN
                             NaN                                                                                      NaN
                             EBIT                                                                                     NaN
                             NaN                                                                                      NaN
                             Interest Expense                                                                         NaN
Rate                         NaN                                                                                      NaN
0.25                         Taxes                                                                                    NaN
NaN                          NaN                                                                                      NaN
                             Net Income                                                                               NaN
                             NaN                                                                      Net Profit Margin %
                             NaN                                                                                      NaN
                             NaN                                                                                      NaN
PRODUCTION INFORMATION       NaN                                                                                      NaN
NaN                          NaN                                                                              in UNITS!!!
                             + Ending Inventory / - Outstanding Orders                                                NaN
                             NaN                                        If Pos +Beginning inventory/ If Neg (Outstandi...
                             NaN                                                              # Made (Added to inventory)
                             NaN                                                          # Sold (removed from inventory)
                             NaN                                                Additional Orders Placed (demand not met)
                             NaN                                                  + Ending Inventory/ -Outstanding Orders
                             NaN                                                                                      NaN
EMPLOYMENT INFORMATION       NaN                                                                                      NaN
NaN                          # Women                                                                                    8
                             # Total                                                                                   11

                                                                        Unnamed: 1  \
Income Statement Information NaN                                               NaN
NaN                          NaN                                               NaN
                             $  Sales by top customers                         NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             $ Sales projections for 6 M out                   NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             Cost of Goods Sold                                NaN
                             NaN                                               NaN
                             Payroll Costs                                     NaN
                             NaN                                               NaN
                             Rent/ Leases                                      NaN
                             NaN                                               NaN
                             Sales, General & Administrative                   NaN
                             NaN                                               NaN
                             Other & Miscellaneous                             NaN
                             Other #2 ______________                           NaN
                             NaN                                               NaN
                             EBIT                                              NaN
                             NaN                                               NaN
                             Interest Expense                                  NaN
Rate                         NaN                                               NaN
0.25                         Taxes                                             NaN
NaN                          NaN                                               NaN
                             Net Income                                        NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
PRODUCTION INFORMATION       NaN                                               NaN
NaN                          NaN                                               NaN
                             + Ending Inventory / - Outstanding Orders         NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
EMPLOYMENT INFORMATION       NaN                                               NaN
NaN                          # Women                                           NaN
                             # Total                                           NaN

                                                                        Unnamed: 2  \
Income Statement Information NaN                                               NaN
NaN                          NaN                                               NaN
                             $  Sales by top customers                         NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             $ Sales projections for 6 M out                   NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             Cost of Goods Sold                                NaN
                             NaN                                               NaN
                             Payroll Costs                                     NaN
                             NaN                                               NaN
                             Rent/ Leases                                      NaN
                             NaN                                               NaN
                             Sales, General & Administrative                   NaN
                             NaN                                               NaN
                             Other & Miscellaneous                             NaN
                             Other #2 ______________                           NaN
                             NaN                                               NaN
                             EBIT                                              NaN
                             NaN                                               NaN
                             Interest Expense                                  NaN
Rate                         NaN                                               NaN
0.25                         Taxes                                             NaN
NaN                          NaN                                               NaN
                             Net Income                                        NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
PRODUCTION INFORMATION       NaN                                               NaN
NaN                          NaN                                               NaN
                             + Ending Inventory / - Outstanding Orders         NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                               NaN
                             NaN                                              85.0
                             NaN                                             -85.0
                             NaN                                               NaN
EMPLOYMENT INFORMATION       NaN                                               NaN
NaN                          # Women                                           NaN
                             # Total                                           NaN

                                                                        2018-04-01 00:00:00
Income Statement Information NaN                                                        NaN
NaN                          NaN                                                        NaN
                             $  Sales by top customers                                  NaN
                             NaN                                                  25.000000
                             NaN                                                 200.000000
                             NaN                                                  37.000000
                             NaN                                                  82.000000
                             NaN                                                  49.000000
                             NaN                                                 440.000000
                             NaN                                                 833.000000
                             NaN                                                        NaN
                             $ Sales projections for 6 M out                     900.000000
                             NaN                                                        NaN
                             NaN                                                        NaN
                             Cost of Goods Sold                                  520.000000
                             NaN                                                        NaN
                             Payroll Costs                                       100.000000
                             NaN                                                        NaN
                             Rent/ Leases                                         75.000000
                             NaN                                                        NaN
                             Sales, General & Administrative                      62.000000
                             NaN                                                        NaN
                             Other & Miscellaneous                                25.000000
                             Other #2 ______________                               0.000000
                             NaN                                                        NaN
                             EBIT                                                 51.000000
                             NaN                                                        NaN
                             Interest Expense                                      0.000000
Rate                         NaN                                                        NaN
0.25                         Taxes                                                12.750000
NaN                          NaN                                                        NaN
                             Net Income                                           38.250000
                             NaN                                                   0.045918
                             NaN                                                        NaN
                             NaN                                                        NaN
PRODUCTION INFORMATION       NaN                                                        NaN
NaN                          NaN                                                        NaN
                             + Ending Inventory / - Outstanding Orders                  NaN
                             NaN                                                 -85.000000
                             NaN                                                  10.000000
                             NaN                                                  15.000000
                             NaN                                                  10.000000
                             NaN                                                -100.000000
                             NaN                                                        NaN
EMPLOYMENT INFORMATION       NaN                                                        NaN
NaN                          # Women                                                    NaN
                             # Total                                                    NaN